<nz-card
  [nzHoverable]="true"
  [nzCover]="coverTemplate"
  [nzActions]="[actionFavorite, actionAddToCart]"
>
  <nz-card-meta [nzTitle]="product.name" [nzDescription]="product.description">
  </nz-card-meta>
</nz-card>

<ng-template #coverTemplate class="product-img">
  <img alt="product.name" [src]="product.imageUrl" />
</ng-template>
<ng-template #actionFavorite>
  <p>{{ product.price | currency }}</p>
</ng-template>
<ng-template #actionAddToCart>
  <button nz-button nzType="default" (click)="addItem(product)">
    Añadir al carrito
  </button>
</ng-template>
