.logo-container {
  img {
    max-height: 64px;
    &:hover {
      filter: drop-shadow(1px 1px 6px rgba(223, 223, 223, 0.5));
    }
  }
}

.header {
  &-menu {
    margin-top: -2px;
  }

  &-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

nz-badge {
  em {
    padding: 8px;
    font-size: 24px;
    margin-top: -8px;
  }
}
