<div>
  <nz-card>
    <nz-avatar
      [nzSize]="64"
      nzSrc="https://starrgate.s3.amazonaws.com/CACHE/images/users/97d92f09d186237ec1675e71926b4f9873fc1a40/profile_WD2DY45/5b585267b0ef798c7912995156c2f9ea.jpeg"
      nzIcon="user"
    ></nz-avatar>
    <nz-divider></nz-divider>

    <h3>Alejandra Pérez Mondragón</h3>
    <a href="https://github.com/alefyp">Github</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a href="https://www.linkedin.com/in/alejandraperezm">Linkedin</a>
  </nz-card>
</div>
