<header nz-row nz-row nzJustify="space-between" nzAlign="middle">
  <div nz-col class="logo-container">
    <a routerLink="">
      <img src="../../../assets/logo.png" alt="Logo de Homeü" />
    </a>
  </div>

  <ul nz-menu nzMode="horizontal" nz-col class="header-menu">
    <li nz-menu-item nzMatchRouter nzMatchRouterExact>
      <a routerLink="">Página principal</a>
    </li>
    <li nz-menu-item nzMatchRouter nzMatchRouterExact>
      <a routerLink="contact">Contacto</a>
    </li>
    <li nz-menu-item nzMatchRouter nzMatchRouterExact>
      <a routerLink="products">Productos</a>
    </li>
    <li nz-menu-item nzMatchRouter nzMatchRouterExact>
      <a routerLink="help">Ayuda</a>
    </li>
  </ul>

  <div nz-col class="header-group">
    <nz-button-group>
      <div *ngIf="auth.user | async as user; else showLogin">
        <span>Hola {{ user.displayName }}!</span>
        <button nz-button nzPlacement="bottomRight" (click)="logout()">
          Logout
        </button>
      </div>

      <ng-template #showLogin let-user="user">
        <button nz-button (click)="log()">Mi Cuenta</button>
        <button
          nz-button
          nz-dropdown
          [nzDropdownMenu]="dropMenu"
          nzPlacement="bottomRight"
        >
          <em nz-icon nzType="user"></em>
        </button>
      </ng-template>
    </nz-button-group>
    <nz-dropdown-menu #dropMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item><a routerLink="login">Iniciar sesión</a></li>
        <li nz-menu-item><a routerLink="login">Crear cuenta</a></li>
      </ul>
    </nz-dropdown-menu>

    <div>
      <nz-badge
        [nzCount]="5"
        [nzOverflowCount]="10"
        [nzStyle]="{
          backgroundColor: '#fff',
          color: '#999',
          boxShadow: '0 0 0 1px #d9d9d9 inset',
          margin: '8px 0 0 0'
        }"
      >
        <a class="head-example">
          <em nz-icon nzType="shopping-cart" nzTheme="outline"></em>
        </a>
      </nz-badge>
    </div>
  </div>
</header>
