<form
  class="signupForm"
  nz-form
  [formGroup]="signupForm"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Nombre completo</nz-form-label>
    <nz-form-control [nzSpan]="24" nzHasFeedback>
      <nz-input-group nzPrefixIcon="user">
        <input
          formControlName="name"
          nz-input
          type="text"
          placeholder="Alejandra Pérez"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <nz-input-group nzPrefixIcon="mail">
        <input
          nz-input
          formControlName="email"
          placeholder="alejandra@homeu.com"
          type="email"
        />
      </nz-input-group>
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('email')">
          The input is not valid E-mail!
        </ng-container>
        <ng-container *ngIf="control.hasError('required')">
          Please input your E-mail!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Contraseña</nz-form-label>
    <nz-form-control
      [nzSpan]="24"
      nzHasFeedback
      [nzErrorTip]="passwordErrorTpl"
    >
      <nz-input-group nzPrefixIcon="lock">
        <input
          formControlName="password"
          nz-input
          type="password"
          placeholder="*******"
        />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('minlength')">
            La contraseña debe contener al menos 6 caracteres
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            La contraseña es obligatoria
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nzJustify="center">
    <nz-form-control>
      <button
        [disabled]="signupForm.invalid"
        nz-button
        nzType="primary"
        type="submit"
      >
        Registrarse
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
