.home {
  &-container {
    height: calc(100vh - 134px);
  }
  &-description {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    p {
      text-align: right;
    }
  }
}
